body {
	overflow-x: hidden;
	background-color: #f0d7ad;
}

.pseudo-scroller {
	pointer-events: none;
}

.isolayer {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.js .grid,
.js .grid__item,
.js .grid__link {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.grid__item {
	width: 300px;
}

.js .grid__item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid__link {
	position: relative;
	z-index: 1;
	display: block;
}

.grid__img {
	display: block;
	max-width: 100%;
}

.grid__title {
	font-size: 0.65em;
	font-weight: 600;
	position: absolute;
	z-index: -1;
	bottom: 0;
	width: 100%;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	opacity: 0;
	color: #fff;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.grid__item:hover .grid__title {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.layer {
	position: relative;
	display: block;
}

.layer:not(:first-child) {
	position: absolute;
	top: 0;
	left: 0;
}

/* Shadow effect */
.isolayer--shadow .grid__link::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	opacity: 0.6;
	background: rgba(0,0,0,0.8);
	box-shadow: 0 0 0 0 rgba(0,0,0,0.8);
	-webkit-transform: translateZ(-1px) scale(0.95);
	transform: translateZ(-1px) scale(0.95);
	-webkit-transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
	transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.isolayer--shadow .grid__item:hover .grid__link::before {
	opacity: 0.2;
	box-shadow: 0 0 20px 10px rgba(0,0,0,0.8);
	-webkit-transform: translateZ(-1px) scale(1);
	transform: translateZ(-1px) scale(1);
}

/* All individual isometric grid layouts (static and scrollable) */
.isolayer--scroll1 {
	width: 100vw;
	max-width: 1200px;
	height: calc(100vh - 280px);
}

.isolayer--scroll1 .grid__item {
	width: 300px;
	padding: 15px;
}

.isolayer--deco1 {
	width: 1200px;
	height: 900px;
}

.isolayer--deco1 .grid__link .layer:first-child:not(img) {
	background: #ac5cf5;
}

.isolayer--deco1 .grid__link .layer:nth-child(2):not(img) {
	background: #5db4eb;
}

.isolayer--deco1 .grid__link .layer:nth-child(3):not(img) {
	background: #5debb4;
}

.isolayer--deco1 .grid__link div.layer {
	width: 370px;
	height: 270px;
	opacity: 0.4;
}

.isolayer--deco1 .grid__item {
	width: 400px;
	height: 300px;
	padding: 15px;
}

.isolayer--deco1 .grid__item:nth-child(2) {
	margin-top: 150px;
}

.isolayer--deco2 {
	width: 1200px;
	height: 100vh;
}

.isolayer--deco2 .grid__item {
	padding: 20px;
}

.isolayer--deco2 .grid__link {
	-webkit-transform-style: flat;
	transform-style: flat;
	transform: translate3d(0,0,0);
}

.isolayer--deco2 .grid__link .layer {
	border: 20px solid #fff;
	border-width: 40px 20px;
	box-shadow: -1px 1px 5px rgba(0,0,0,0.08);
}

.isolayer--deco3 {
	width: 960px;
	height: 500px;
}

.isolayer--deco3 .grid__item {
	width: 240px;
	height: 320px;
	padding: 0;
}

.isolayer--deco3 .grid__item:nth-child(2),
.isolayer--deco3 .grid__item:nth-child(4) {
	margin-top: -160px;
}

.isolayer--deco3 .grid__link,
.isolayer--deco3 .layer {
	width: 100%;
	height: 100%;
}

.isolayer--deco3 .layer {
	text-align: center;
	background: #fff;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
}

.isolayer--deco3 .grid__link:hover .layer:not(:first-child) {
	box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.isolayer--deco3 .grid__item:nth-child(2n) .layer {
	background: #f7d2dc;
}

.isolayer--deco3 .grid__item:nth-child(3n) .layer {
	background: #fff0f3;
}

.isolayer--deco3 .grid__item:nth-child(4n) .layer {
	background: #e9c5cc;
}

.isolayer--deco3 .grid__item:nth-child(5n) .layer {
	background: #d6cbcd;
}

.isolayer--deco3 .grid__item:nth-child(7n) .layer {
	background: #ffc9d8;
}

.isolayer--deco3 .layer {
	width: 100%;
	height: 100%;
}

.isolayer--deco3 .decoletter {
	font-size: 6em;
	font-weight: 900;
	line-height: 1;
	display: block;
	padding: 70px 0 0 0;
	color: #000;
	color: #000;
}

.isolayer--deco3 .deconumber {
	font-size: 3em;
	display: block;
	color: #000;
}

.isolayer--deco4 {
	width: 1000px;
	height: 900px;
}

.isolayer--deco4 .grid__item {
	padding: 15px;
}

.isolayer--deco4 .grid__link .layer:first-child:not(img) {
	background: #ac5cf5;
}

.isolayer--deco4 .grid__link .layer:nth-child(2):not(img) {
	background: #5db4eb;
}

.isolayer--deco4 .grid__link .layer:nth-child(3):not(img) {
	background: #5debb4;
}

.isolayer--deco4 .grid__link .layer {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.isolayer--deco4 .grid__link div.layer {
	width: 270px;
	height: 203px;
	opacity: 0.4;
}

.isolayer--deco4 .grid__item {
	width: 300px;
	height: 225px;
	padding: 15px;
}

/* Flip effect for the scrollable grid */

.js .grid--effect-flip .grid__item {
	opacity: 0;
}

.js .grid--effect-flip .grid__item.shown {
	opacity: 1;
}

.grid--effect-flip .grid__item.animate {
	-webkit-transform: translateY(800px);
	transform: translateY(800px);
	-webkit-animation: moveUp 1s cubic-bezier(0.2,1,0.3,1) forwards;
	animation: moveUp 1s cubic-bezier(0.2,1,0.3,1) forwards;
}

@-webkit-keyframes moveUp {
	100% {
		opacity: 1; 
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@keyframes moveUp {
	100% {
		opacity: 1; 
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

/* Loading effect */
.js .grid {
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.js .grid.grid--loaded {
	opacity: 1;
}

.js body::after {
	content: '';
	position: fixed;
	z-index: 1000;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin: -35px 0 0 -35px;
	pointer-events: none;
	border: 3px solid #fff;
	border-right-color: #323f5c;
	border-radius: 50%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-animation: rotateCircle 0.7s linear infinite forwards;
	animation: rotateCircle 0.7s linear infinite forwards;
}

@-webkit-keyframes rotateCircle {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotateCircle {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


.js body.grid-loaded::after {
	opacity: 0;
}

#Girl
{
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    transform-box: fill-box;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

}

@keyframes swing {
    0% { transform: rotate(9deg); }
    100% { transform: rotate(-9deg); }
}


#Vector_38
{
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center 0px;
    transform-box: fill-box;
    float:left;
}

#Vector_39{
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center 0px;
    transform-box: fill-box;
    float:left;
}

#Vector_40
{
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    transform-box: fill-box;
    float:left;
}


.shap.one {
    background-image: -moz-linear-gradient(140deg, #009688 0%, #009688 100%);
    background-image: -webkit-linear-gradient(140deg, #009688 0%, #009688 100%);
    background-image: -ms-linear-gradient(140deg, #009688 0%, #009688 100%);
    width: 650px;
    height: 510px;
    top: -43%;
    left: -58%;
}
.shap {
    position: absolute;
    opacity: 0.05;
    transform: rotate(45deg);
    left: 90px;
    z-index: -1;
    border-radius: 45px;
}

.shap.two {
    background-image: -moz-linear-gradient(140deg, #009688 0%, #009688 100%);
    background-image: -webkit-linear-gradient(140deg, #009688 0%, #009688 100%);
    background-image: -ms-linear-gradient(140deg, #009688 0%, #009688 100%);
    width: 666px;
    height: 330px;
    top: -42%;
    left: -15%;
}
.mauto{margin:auto;}
.bg-svg{
    
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: relative;
    
  margin-bottom:40px;
}

#Leaf1
{
    -webkit-animation: shake-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
            }


#leaf11
{
    -webkit-animation: shake-bottom 2.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 2.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box; 
}

#leaf10
{
    -webkit-animation: shake-bottom 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box; 
}

#leaf12
{
    -webkit-animation: shake-bottom 9s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 9s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

#leaf13
{
    -webkit-animation: shake-bottom 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

#lef14
{
    -webkit-animation: shake-bottom 7.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 7.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

#leaf15
{
    -webkit-animation: shake-bottom 7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

#leaf16
{
    -webkit-animation: shake-bottom 6.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 6.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

#leaf17
{
    -webkit-animation: shake-bottom 6s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 6s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            transform-box: fill-box;
}

@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
