.u-section-1 .u-sheet-1 {min-height: 1075px}
.u-section-1 .u-text-1 {margin: 65px 20px 0}
.u-section-1 .u-text-2 {font-weight: normal; margin: 30px 0 0}
.u-section-1 .u-text-3 {font-size: 3rem; font-style: italic; font-weight: 700; margin: 22px auto 0}
.u-section-1 .u-layout-wrap-1 {width: 789px; margin: 52px auto 0}
.u-section-1 .u-layout-cell-1 {min-height: 321px}
.u-section-1 .u-container-layout-1 {padding: 5px 0 5px 30px}
.u-section-1 .u-image-1 {width: 160px; height: 103px; box-shadow: 0 0 8px 0 rgba(128,128,128,1); animation-duration: 1000ms; margin: 39px auto 0}
.u-section-1 .u-text-4 {margin: 15px 22px 0}
.u-section-1 .u-layout-cell-2 {min-height: 321px}
.u-section-1 .u-container-layout-2 {padding: 5px 0}
.u-section-1 .u-image-2 {width: 160px; height: 103px; box-shadow: 0 0 8px 0 rgba(128,128,128,1); margin: 39px auto 0}
.u-section-1 .u-text-5 {margin: 15px auto 0}
.u-section-1 .u-layout-cell-3 {min-height: 321px}
.u-section-1 .u-container-layout-3 {padding: 0 0 5px}
.u-section-1 .u-image-3 {width: 160px; height: 103px; box-shadow: 0 0 8px 0 rgba(128,128,128,1); margin: 39px auto 0}
.u-section-1 .u-text-6 {margin: 20px auto 0}
.u-section-1 .u-gallery-1 {height: 296px; grid-template-columns: auto auto auto auto; grid-gap: 24px 24px; margin: 20px auto 60px 0}
.u-section-1 .u-gallery-item-1 {box-shadow: 0 2px 8px 3px rgba(128,128,128,0.65)}
.u-section-1 .u-back-slide-1 {transition-duration: 1.25s}
.u-section-1 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)); padding: 20px}
.u-section-1 .u-gallery-item-2 {box-shadow: 0 2px 8px 3px rgba(128,128,128,0.65)}
.u-section-1 .u-back-slide-2 {transition-duration: 1.25s}
.u-section-1 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)); padding: 20px}
.u-section-1 .u-gallery-item-3 {box-shadow: 0 2px 8px 3px rgba(128,128,128,0.65)}
.u-section-1 .u-back-slide-3 {transition-duration: 1.25s}
.u-section-1 .u-over-slide-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)); padding: 20px}
.u-section-1 .u-gallery-item-4 {box-shadow: 0 2px 8px 3px rgba(128,128,128,0.65)}
.u-section-1 .u-back-slide-4 {background-image: none; transition-duration: 1.25s}
.u-section-1 .u-over-slide-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)); padding: 20px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 387px}
.u-section-1 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-1 .u-layout-wrap-1 {position: relative}
.u-section-1 .u-layout-cell-1 {min-height: 330px}
.u-section-1 .u-layout-cell-2 {min-height: 330px}
.u-section-1 .u-text-5 {margin-right: 63px}
.u-section-1 .u-layout-cell-3 {min-height: 330px}
.u-section-1 .u-gallery-1 {height: 244px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-1 {min-height: 1608px}
.u-section-1 .u-layout-wrap-1 {width: 720px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-text-4 {margin-left: 20px; margin-right: 20px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-text-5 {margin-right: 45px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-gallery-1 {height: 748px; grid-template-columns: auto auto; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-1 {min-height: 3103px}
.u-section-1 .u-layout-wrap-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 10px}
.u-section-1 .u-text-4 {margin-left: 50px; margin-right: 50px}
.u-section-1 .u-text-5 {margin-right: 130px}
.u-section-1 .u-gallery-1 {height: 2244px; grid-template-columns: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-1 {min-height: 2272px}
.u-section-1 .u-text-3 {font-size: 1.5rem}
.u-section-1 .u-layout-wrap-1 {margin-top: 0; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-text-4 {margin-left: 31px; margin-right: 31px}
.u-section-1 .u-text-5 {margin-right: 80px}
.u-section-1 .u-gallery-1 {height: 1413px; margin-top: 72px; margin-right: initial; margin-left: initial} }


#explore_button{
	position: absolute; 
	bottom: 85.5%; 
	left: 30%; 
	height: 1.5%; 
	width: 40%; 
	border-radius: 20px; 
	background-color: #15568f; 
	color:white; 
	cursor: pointer;
}
@media screen and (min-width: 600px){
	#explore_button{
	position: absolute; 
	bottom: 70%; 
	left: 43%; 
	height: 5%; 
	width: 15%; 
	border-radius: 20px; 
	background-color: #15568f; 
	color:white; 
	cursor: pointer;
}
}