@import url(https://fonts.googleapis.com/css?family=Carter+One);
input[type='radio'] {
  display: none;
}

input[type='radio']#section1:checked ~ .nav_inpage label[for='section1'] {
  background-color: white;
}

input[type='radio']#section1:checked ~ section:nth-of-type(1) {
  z-index: 1;
  top: 0;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

input[type='radio']#section1:checked ~ .cover {
  background-color: #f8b195;
}

input[type='radio']#section2:checked ~ .nav_inpage label[for='section2'] {
  background-color: white;
}

input[type='radio']#section2:checked ~ section:nth-of-type(2) {
  z-index: 1;
  top: 0;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

input[type='radio']#section2:checked ~ .cover {
  background-color: #c06c85;
}

input[type='radio']#section3:checked ~ .nav_inpage label[for='section3'] {
  background-color: white;
}

input[type='radio']#section3:checked ~ section:nth-of-type(3) {
  z-index: 1;
  top: 0;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

input[type='radio']#section3:checked ~ .cover {
  background-color: #6c5c7c;
}

input[type='radio']#section4:checked ~ .nav_inpage label[for='section4'] {
  background-color: white;
}

input[type='radio']#section4:checked ~ section:nth-of-type(4) {
  z-index: 1;
  top: 0;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

input[type='radio']#section4:checked ~ .cover {
  background-color: #345d7e;
}

.nav_inpage {
  position: fixed;
  z-index: 2;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.nav__item {
  width: 12px;
  height: 12px;
  display: block;
  margin: 12px auto;
  border: solid 2px white;
  border-radius: 50%;
  cursor: pointer;
}
.nav__item:hover {
  background-color: white;
}

section {
  height: 100%;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

section:nth-of-type(1) {
  background: #f8b195;
}

section:nth-of-type(2) {
  background: #c06c85;
}

section:nth-of-type(3) {
  background: #6c5c7c;
}

section:nth-of-type(4) {
  background-color: pink;
}

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
/*html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  color: white;
  font: 100% 'Carter One', cursive;
}

h1 {
  font-size: 6em;
  text-align: center;
}*/

.slider__text{
  color: white;
  font: 100% 'Carter One', cursive;

}


