
 #bridge {
   display: block;
   margin: 0 auto;
   background-image: url("electronics_wallpaper.jpg");
   
   background-size: cover;
   width: 100%;
   height: 100vh;
   cursor: crosshair;
   cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}
