
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
header {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 4em;
  color: #fff;
}
@media screen and (min-width: 600px){
  header h1 {
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 7em;
  color: #fff;
}
}

header .triangle {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background: linear-gradient(to top, #09203f 0%, #537895 100%);*/
  background-image: url("https://www.wallpapertip.com/wmimgs/237-2372683_technology-wallpapers-1920x1080.png");
  background-size: cover;
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
header .triangle.left {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
header .triangle.right {
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}
header.open .triangle.left {
  clip-path: polygon(0 0, 0 100%, 0 100%);
}
header.open .triangle.right {
  clip-path: polygon(100% 0, 100% 0, 100% 100%);
}
header.open #header_button {
  left: 40px;
  bottom: 40px;
  width: 50px;
  border-radius: 50%;
}



